/*.modal body{*/
    /*background-color: #e80018;*/
/*}*/

.modal-header{
    background-color: #e80018;
    color:white ;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}

.modal-content img{
    display: block;
    width: 15%;
    /*margin: px ;*/
    margin-left: 15px;
}

/*.modal-content p{*/
    /*padding-top: 10px;*/
    /*text-align: justify;*/
/*}*/

